<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>User info</h1>
            <% if @user.errors.any? %>
        <h3><%= @user.errors.count %>error prohibited this obj from being saved:</h3>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
      <% end %>
      <%= form_with model: @user do |f| %>
      <div class="form-group">
        <label for="user_name">Name</label>
        <%= f.text_field :name, class: "form-control user_name"%>
      </div>
      <div class="form-group">
        <label for="user_profile_image">Image</label>
        <%= f.file_field :profile_image, placeholder:"Image", accept: "image/*" %>
      </div>
      <div class="form-group">
        <label for="user_introduction">Introduction</label>
        <%= f.text_area :introduction, class: "form-control user_introduction"%>
      </div>
      <div class="form-group">
        <%= f.submit"Update User", class:"btn btn-secondary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>