<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
            <h2>User info</h2>
            <%= image_tag @user.get_profile_image(63,63) %>
            <table class="table">
                <tr></tr>
                <tr>
                    <th>name</th>
                    <th><%= @user.name %></th>
                </tr>
                <tr>
                    <th>introduction</th>
                    <th><%= @user.introduction %></th>
                </tr>
            </table>
            <div class="">
                <%= link_to edit_user_path(@user), class: "btn btn-outline-secondary btn-block" do %><i class="fas fa-user-cog"></i><% end %>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
            <h2>New book</h2>
            <%= form_with model: @book_new, method: :post do |f| %>
              <div class="book_title">Title</div>
                <%= f.text_field :title %>
              <div class="book_opinion">Opinion</div>
                <%= f.text_area :opinion %>
              <br />
              <%= f.submit'Create book', class: 'btn btn-success' %>
            <% end %>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
            <h2>Books</h2>
            <table class="table table-hover table-inverse">
                <thead>
                    <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Opinion</th>
                    <th colspan="3"></th>
                    </tr>
                </thead>
                <tbody>
                <% @books.each do |book| %>
                    <tr>
                    <td><%= image_tag book.user.get_profile_image(40,40) %></td>
                    <td><%= link_to book.title, book_path(book.id) %></td>
                    <td><%= book.opinion %></td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>

