<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="shadow-sm">
      <nav class="navbar navbar-expanding-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand text-left" href="/">Bookers</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'nav-link text-light' %>
                </li>
                <li class="nav-item">
                  <%= link_to root_path, class: 'nav-link text-light' do %><i class="fas fa-home">Home</i><% end %>
                </li>
                <li class="nav-item">
                  <%= link_to homes_about_path, class: 'nav-link text-light' do %><i class="fas fa-link">About</i><% end %>
                </li>
                <li class="nav-item">
                  <%= link_to new_user_registration_path, class: 'nav-link text-light' do %><i class="fas fa-user-plus">Sign up</i><% end %>
                </li>
                <li class="nav-item">
                  <%= link_to new_user_session_path, class: 'nav-link text-light' do %><i class="fas fa-sign-in-alt">Log in</i><% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
    <footer>
      <br />
      <p class="text-center">CopyRight Infratop.inc</p>
    </footer>
  </body>
</html>